// Variables

// Color system
$gray-900: #27282c;
$white: #fff;

$primary: #6e00ff;

// body
$body-bg: $gray-900;
$body-color: $white;

// Typography
$font-family-sans-serif: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
