.section {
  position: relative;
  padding: $grid-gutter-width 0;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: .2;
    z-index: 1;
  }

  &.section--dark {
    color: $gray-300;

    &::before {
      background: url('./assets/img/dark-pattern.png');
      opacity: .1;
    }
  }

  &.section--light {
    background: $white;
    color: $gray-900;

    &::before {
      background: url('./assets/img/light-pattern.png');
    }
  }

  .section__content {
    position: relative;
    z-index: 2;
  }

  .section__title {
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: 700;
    text-align: center;

    &.section__title--large {
      font-size: 32px;
      font-weight: 800;
    }
  }

  .section__subtitle {
    font-size: 16px;
    font-weight: 400;
  }
}

@include media-breakpoint-up(md) {
  .section {
    padding: $grid-gutter-width * 2 0;

    .section__title {
      font-size: 30px;

      &.section__title--large {
        font-size: 48px;
      }
    }

    .section__subtitle {
      font-size: 22px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .section {
    .section__title {
      margin-bottom: 2rem;
      font-size: 48px;

      &.section__title--large {
        font-size: 60px;
      }
    }

    .section__subtitle {
      font-size: 30px;
    }
  }
}
