.section {
  &.section--experience {
    .experience {
      .item {
        padding: 20px;
        border-left: 4px solid $primary;
        background: $white;
        box-shadow: 0 0 20px 0 rgba($gray-600, .05);

        & + .item {
          margin-top: $grid-gutter-width;
        }
      }

      .item__title {
        margin-bottom: 0;
        font-weight: 700;
      }

      .item__subtitle {
        margin-bottom: 0;
        font-size: 18px;
      }

      .item__date {
        color: #777;
      }

      .experience__list {
        list-style: none;
      }
    }
  }
}
