.section {
  &.section--welcome {
    border-top: 4px solid $primary;

    .section__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: calc(100vh - #{$grid-gutter-width * 2});
    }

    .section__title {
      letter-spacing: -.02em;

      .underscore {
        color: $primary;
        font-size: 50%;
        animation: underscore 1s infinite ease-in-out;

        @keyframes underscore {
          0% { opacity: 0; }
          50% { opacity: 1; }
          100% { opacity: 0; }
        }
      }
    }

    .section__subtitle {
      padding: 4px;
      background: $gray-900;
      color: $gray-100;
      font-weight: 500;
    }

    .section__list {
      display: flex;
      position: absolute;
      top: $grid-gutter-width / 2;
      right: $grid-gutter-width / 2;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .section__list-item {
      & + .section__list-item {
        margin-left: 10px;
      }
    }

    .section__list-link {
      color: $gray-900;
      font-size: 18px;
      line-height: 1;
    }

    .section__scroll {
      top: auto;
      bottom: $grid-gutter-width / 2;
    }
  }
}

@include media-breakpoint-up(md) {
  .section {
    &.section--welcome {
      .section__content {
        height: calc(100vh - #{$grid-gutter-width * 4});
        min-height: 0;
      }

      .section__list {
        top: -$grid-gutter-width;
        right: $grid-gutter-width;
      }

      .section__list-item {
        & + .section__list-item {
          margin-left: 10px;
        }
      }

      .section__list-link {
        display: flex;
        padding: 5px;
        font-size: 22px;
        text-decoration: none;

        &:hover {
          color: $primary;
        }
      }

      .section__scroll {
        bottom: -$grid-gutter-width;
      }
    }
  }
}
